<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--Для вывода логов в консоль-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--Для записи логов в файл-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/Programming/ForTest/logFile.log</file> <!--Указываем путь куда будут выгружаться логи-->
        <rollingPolicy name="FILE" class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>5KB</maxFileSize>
            <fileNamePattern>D:/Programming/ForTest/logFile.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>
        </rollingPolicy>

        <append>true</append> <!--Для повторной записи.-->
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <!--Задаём уровень логирования-->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>